<div class="users-list">
	<div class="container" style="margin-top: 50px;">
		<button ng-click="back()" class="btn btn-secondary">Back</button>
		<img src="images/icon.png" alt ="company logo" style="width: 200px; height: 200px;" class="img-responsive center-block">
	</div>
	<div class="search_result">
		<div class="container" style="margin-top: 10px">
			<ul class="clear">
				<li class="row" ng-repeat="(key, value) in editableItem">
					<span class="col-xs-6">{{key}}</span>
					<span class="col-xs-6" ng-if="key != 'Pick Zone'">{{value}}</span>
					<select ng-if="key == 'Pick Zone'" name="pickzone" ng-model="value" style="width: 50%;" class="form-control col-xs-6" ng-change="Update(value)" >
						<option value="">Select One of Pick Zone</option>
						<option ng-repeat="val in picklist" ng-value="val['Pick Zone Code']" ng-selected="value == val['Pick Zone Code']">{{val['Pick Zone Code']}}</option>
					</select>
				</li>
			</ul>
			<button type="button" class="btn btn-primary btn-lg btn-block" style="height: 50px; background-color: #58b8f5; border-radius: 2px" ng-click="save()">SAVE</button>
		</div>
	</div>
</div>