<div class="users-list">
	<div class="container" style="margin-top: 50px;">
		<img src="images/icon.png" alt ="company logo" style="width: 200px; height: 200px;" class="img-responsive center-block">
	</div>
	<div class="container" style="margin-top: 80px">
		<input class="form-control align-center" type="search" placeholder="Search" style="text-align: center; height: 50px; border-color: #58b8f5; color: #58b8f5;">
	</div>
	<div class="container" style="margin-top: 10px; border-bottom: solid 1px #ebebeb;">
		<h3>3 Results</h3>
	</div>
	<div class="search_result">
		<div class="container" style="margin-top: 10px">
			<ul class="clear">
				<li class="row">
					<span class="col-xs-6">SKU*</span>
					<input type="text" name="sku" value="10101015" style="width: 50%;" class="form-control col-xs-6" >
				</li>
				<li class="row">
					<span class="col-xs-6">Name</span>
					<input type="text" name="prod_name" value="Product number 6" style="width: 50%;" class="form-control col-xs-6">
				</li>
				<li class="row">
					<span class="col-xs-6">Brand</span>
					<input type="text" name="brand" value="Unbranded" style="width: 50%;" class="form-control col-xs-6">
				</li>
				<li class="row">
					<span class="col-xs-6">Primary Supplier</span>
					<input type="text" name="supplier" value="Company A" style="width: 50%;" class="form-control col-xs-6">

				</li>
				<li class="row">
					<span class="col-xs-6">Supplier Item</span>
					<input type="text" name="sup_item" value="ABCDEF128" style="width: 50%;" class="form-control col-xs-6">

				</li>
				<li class="row">
					<span class="col-xs-6">UPC/EAN</span>
					<input type="text" name="upc-ean" value="9411234560916" style="width: 50%;" class="form-control col-xs-6">
				</li>
				<li class="row">
					<span class="col-xs-6">Pick Zone</span>
					<select class="form-control col-xs-6" style="width: 50%;">
						<option>WH1-CUBE1</option>
						<option>WH1-CUBE2</option>
						<option>WH1-DESK1</option>
						<option>WH1-DESK2</option>
						<option>WH1-DESK4</option>
						<option>WH1-F-ROOM,WH2-P14</option>
						<option>WH1-F-ROOM,WH2-P15</option>
						<option>WH1-FR1</option>
						<option>WH1-FR2</option>
						<option>WH1-FR3</option>
					</select>
				</li>
			</ul>
			<button type="button" class="btn btn-primary btn-lg btn-block" style="height: 50px; background-color: #58b8f5; border-radius: 2px">SAVE</button>
		</div>
	</div>
</div>