<div class="users-list">
  <div class="container" style="margin-top: 50px;">
    <img src="images/icon.png" alt ="company logo" style="width: 200px; height: 200px;" class="img-responsive center-block">
  </div>
  <div class="container input-group" style="margin-top: 80px">
    <input class="form-control align-center" type="search" placeholder="Search" style="text-align: center; height: 50px;">
    <span style="height: 50px; background-color: #58b8f5; border-radius: 2px;" class="btn btn-primary btn-lg input-group-addon"><a style="color: white" ui-sref="search_result">Search</a></span>
  </div>
</div>